// Specific CSS for your home-page
.search-bar {
  width: 70%;
  opacity: 100%;
  border-radius: 10px;
}

.search-bar:hover {
  opacity: 70%;
  transition-duration: 0.3s;
}

.col-sm-10 {
  align-items: center;
}

.container-menu {
  background-color: #433723;
}

.btn {
  background-color: #ffa200;
  border-radius: 10px;
  color: #fff;
  border:none;
  opacity: 85%;
}


.btn:hover {
  background-color:#fff;
  color:#ffa200;
  opacity: 70%;
}

.btn:active {
  color:#433723;
  background-color:#ffa200;
}

.container-profile {
  background-color: #433723;
}

#btn-nav {
  background-color: #433723;
  border-radius: 10px;
  color: #fff;
  border:none;
  opacity: 85%;
}

#btn-search{
  background-color:#ffa200;
  border-radius: 0 10px 10px 0;
  color: #fff;
  border:none;
  opacity: 85%;
}

#btn-search-fot {
  background-color: #433723;
  border-radius: 0 10px 10px 0;
  color: #fff;
  border:none;
  opacity: 85%;
}

.search-bar-input {
  border-radius: 10px 0 0 10px;
}

.card-product{
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .7);
}
