// Specific CSS for your home-page
.search_bar {
  width: 70%;
  opacity: 50%;
  border-radius: 10px;
}

.search_bar:hover {
  opacity: 100%;
  transition-duration: 0.3s;
}

.col-sm-10 {
  align-items: center;
}

.container-menu {
  background-color: #433723;
}

.btn {
  background-color: #433723;
  font-family: 'Courier New', Courier, monospace;
}

.container-profile {
  background-color: #433723;
}
