<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp3748776.jpg);">
  <div class="container">
    <h1>Rent Games!</h1>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
