<%= render 'shared/banner' %>

<div class="main-container">

    <div class='paragraph' id="back-color-about">
      <h3>About us</h1>

      <p>We are RentGames, a site that connects board game lovers who want to play new and exciting games without spending a fortune.</p>
      <p>Whether you are looking for a family-friendly game, a cooperative challenge, or a competitive showdown, we have something for you.</p>
      <p>Our mission is to make board gaming more accessible and affordable for everyone. We believe that renting games is better than buying new ones for many reasons:</p>
    </div>

    <div class='paragraph' id="back-color-about">
      <h3>Why rent with us?</h3>
      <ul>
        <li>You can save money by paying only for the time you play.</li>
        <li>You can try out different games before deciding which ones you like best.</li>
        <li>You can avoid cluttering your shelves with games you rarely play.</li>
        <li>You can support other board gamers in your community by sharing your games.</li>
      </ul>
    </div>

    <div class='paragraph' id="back-color-about">
      <%= image_tag "https://images.unsplash.com/photo-1605142859862-978be7eba909?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", height: 200 %>
      <h3>How does it work? It's simple:</h3>

      <ol>
        <li>- Browse our catalog of hundreds of games from various publishers and genres;</li>
        <li>- Choose the game you want to rent and select the duration and delivery option;</li>
        <li>- Enjoy playing the game with your friends or family;</li>
        <li>- Return the game when you are done using our free shipping service.</li>
      </ol>
    </div>
</div>
