.menu {
  margin: 15px;
}


.myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color:#ffc533;
}

.myMenu li a{
  padding: 12px;
  text-decoration: none;
  color: #ffc533;
  display: block;
}

 .myMenu li a:hover {
  background-color: #433723;
  opacity: 0.5;
 }
